.header{
    background-color: bisque;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.header div{
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
    padding: 0px 10px;
}