.BlogWidget {
    margin: 0px 0px 50px 0px;
    width: 200px;
    height: auto;
    min-height: 340px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.BlogWidget .description {
    margin: auto;
    position: relative;
}

.BlogWidget .btn {
    margin: auto;
    position: absolute;
    bottom: 20px;
}


.BlogWidget .postTitle {
    margin-left: 0px;
}

.BlogWidget .postTitle::first-letter {
    text-transform: capitalize;
}